html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: rgb(255, 246, 233);
}

main {
  padding: 10px;
}

* {
  box-sizing: border-box;
}

.error {
  color: red;
}
